.btn {
  min-height: 40px;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  min-width: 110px;
  max-width: 200px;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  background: transparent;
  border: none;
}

/* 🔹 Modelo 1: hexágono verde (INIT) */
.model-1 {
  background-color: var(--btn-color, rgb(0, 255, 136));
  color: black;
  clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%);
}

.model-1:hover {
  opacity: 0.6;
}

/* 🔹 Modelo 2: linhas azuis (PROGRAM) */
.model-2 {
  border: solid 2px;
  color: var(--btn-color, #00bcd4);
  clip-path: polygon(15% 0, 85% 0, 98% 50%, 85% 100%, 15% 100%, 2% 50%);
}

.model-2:hover {
  background-color: rgba(10, 82, 100);
}

.model-2::before,
.model-2::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  height: 1px;
  background-color: var(--btn-color, #00bcd4);
}

.model-2::before {
  top: 5px;
}
.model-2::after {
  bottom: 5px;
}
